html {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    max-width: 500px;
}

body {
    height: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
}

#messages {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}

#messages > div {
    padding: 0.5rem 1rem;
}

#form {
    display: flex;
    flex-direction: row;
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}

#input {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
}

#input:focus {
    outline: none;
}

#form > button {
    background: #333;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
}

.message {
    max-width: 200px;
}

.outbound {
    align-self: end;
}

.sender {
    font-size: 12px;
    color: #555;
}

.datetime {
    font-size: 12px;
    color: #999;
}

.message-content {
    overflow-wrap: break-word;
}

.notice {
    max-width: 200px;
    align-self: center;
    text-align: center;
}

.notice-content {
    font-size: 12px;
    color: #555;
    overflow-wrap: break-word;
}
